body{
  font-family: "Lato";
  font-size:16px;
  font-size: 100%;
  font-size: 1em;
  margin:0px;
  padding: 0px;
}

 /* BANNER INFORMACION */

 .bannerGeneral{
   position: relative;
   bottom: 2.5em;
   background-color: #424242;
   padding-top: 0.2em;
 }

 .bannerGeneral p{
   color: #fff;
   text-align: center;
   position: relative;
   padding-left: 1em;
   bottom: 0.6em;
   font-family: "Lato" sans-serif;
   font-weight: lighter;
   font-size: 26px;
 }

/* INICIO */

.HomeHeader{
  background-color: #EEEEEE;
}

.LogoHome{
  position: relative;
  left: 14em;
  top: 1em;
  width: 30%;
  min-height: 150px;
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-size:65%;
  -webkit-transition: 0.2s min-height ease;
  -moz-transition: 0.2s min-height ease;
  -o-transition: 0.2s min-height ease;
  transition: 0.2s min-height ease;
}

.HomeHeader .Menu{
    position: relative;
    opacity: 1;
    height: 39px;
    text-align: center;
    padding: 0px  ;
    margin: 0px;
    bottom: 5.3em;
}

.HomeHeader .Menu li{
  position: relative;
    display: inline;
    left: 10em
}
.HomeHeader .Menu li a{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-family: "Lato" sans-serif;
    font-size: 13px;
    color:black;
    text-shadow: 0 1 0.125em #000;
    transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
}

.HomeHeader .Menu li a:hover{
  background-color: #F44336;
  color: white;
}

.Content .WelcomeImg{
  position: absolute;
  top: 9.4em;
  width: 100%;
  height: 503px;
  background-color: rgb(0, 0, 0);
  background-image: url("../imgs/banner.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -webkit-transition: background-image 0.3s linear;
}


.Content .WelcomeImg p{
  position: relative;
  color: #ffffff;
  font-family: "Lato" sans-serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  top: 1em;

}

.Content .InfoHome{
  position: absolute;
  top: 40.8em;
  height: 100%;
  width: 100%;
  background-color: #EEEEEE;
}

.Content .InfoHome{
  text-align: center;
}

.Content .InfoHome li{
  position: relative;
  display: inline;
  padding: 7em;
  top: 16em;
  text-decoration: none;
  font-family: "Lato" sans-serif;
}

.Content .InfoHome #time{
  position: relative;
  right: 1em;
}

.Content .InfoHome #work{
  position: relative;
  left: 0.3em;
}

.Content .InfoHome #place{
  position: relative;
  left: 1.4em;
}

.Content .InfoHome .Time p, .Gear p, .Place p{
  visibility: hidden;
  opacity: 0;
}


.Content .InfoHome .Time:hover, .Gear:hover, .Place:hover{
  background-color: #ffbc00;
}


.Content .InfoHome .Time{
  position: absolute;
  top: 5em;
  left: 18.2em;
  width: 150px;
  height: 150px;
  background-image: url("../imgs/time.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Content .InfoHome .Gear{
  position: absolute;
  top: 5em;
  left: 37.6em;
  width: 150px;
  height: 150px;
  background-image: url("../imgs/gear.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Content .InfoHome .Place{
  position: absolute;
  top: 5em;
  left: 57em;
  width: 150px;
  height: 150px;
  background-image: url("../imgs/place.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Content .InfoHome .Time p{
  position: relative;
  top: 15em;
  left: 0.6em;
  width: 500%;
  text-align: justify;
  color: black;
  transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.Content .InfoHome .Time:hover p{
  visibility: visible;
  opacity: 1;
  position: relative;
  top: 15em;
  left: 0.6em;
  width: 500%;
  text-align: justify;
  transition-delay:0s;
}

.Content .InfoHome .Gear p{
  position: relative;
  top: 15em;
  right: 18.8em;
  width: 500%;
  text-align: justify;
  color: black;
  transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.Content .InfoHome .Gear:hover p{
  visibility: visible;
  opacity: 1;
  position: relative;
  top: 15em;
  right: 18.8em;
  width: 500%;
  text-align: justify;
    transition-delay:0s;
}

.Content .InfoHome .Place p{
  position: relative;
  top: 15em;
  right: 38.2em;
  width: 500%;
  text-align: justify;
  color: black;
  transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.Content .InfoHome .Place:hover p{
  visibility: visible;
  opacity: 1;
  position: relative;
  top: 15em;
  right: 38.2em;
  width: 500%;
  text-align: justify;
  transition-delay:0s;
}

.Footer{
  position: absolute;
  background-color: #424242;
  top: 76.3em;

  width: 100%;
  height: 13%;
}

.Footer .Twitter{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1.6em;
  right: 9em;
  background-image: url("../imgs/twitter.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Footer .Facebook{
  position: absolute;
  width: 35px;
  height: 35px;
  right: 5em;
  top: 1.7em;
  background-image: url("../imgs/fb.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Footer .GooglePlus{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 1em;
  top: 1.9em;
  background-image: url("../imgs/gplus.png");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.Footer p{
  position: absolute;
  color: #ffffff;
  top: 2.2em;
  left: 37%;
  font-size: 12px;
}

/* SOBRE NOSOTROS */

.ContentAbout .imagenSobreNososotros{
  position: absolute;
  top: 14em;
  width: 100%;
  height: 503px;
  background-color: rgb(0, 0, 0);
  background-image: url("../imgs/img1.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -webkit-transition: background-image 0.3s linear;
}

.contenedor{
  position: relative;
    width: 1090px;
    margin: auto;
    color: black;
    font-size: 15px;
    padding: 20px 15px 50px 50px;
    top: 30em;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}


#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #BDBDBD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}



#pestanas a:link{
    text-decoration: none;
    color: black;
}

#contenidopestanas{
   text-align: justify;
    clear: both;
    background: #e7e7e7;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    width: 1080px;
}

/*Contáctanos by Jose W. Fiallos */

.contactForm ul {
    width:750px;
    list-style-type:none;
	margin:0px;
	padding:0px;
}

.contactForm li{
	padding:12px;
	position:relative;

}

.contactForm label {
    font-family: "Lato";
    color: #555555;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.contactForm select{
    font-family: "Lato";
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #000;
    font-size: 13px;
    padding-right:30px;
}

  .contactForm input {
      font-family: "Lato";

  	width:420px;
  	padding:5px 8px;
  }
.contactForm textarea {
    font-family: "Lato";
	padding:8px;
	width:420px;
}
.contactForm button {
	margin-left:0px;
}

.contactForm input:required:valid, .contactForm textarea:required:valid {
	box-shadow: 0 0 5px #099c18;
	border-color: #23e30b;
}
.contactForm input:focus:invalid, .contactForm textarea:focus:invalid {
	box-shadow: 0 0 5px #c92d2d;
	border-color: #f10e0e;
}

.contactForm input, .contactForm textarea {
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	color: #000;
	font-size: 13px;
	padding-right:30px;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}

.contactForm input:focus, .contactForm textarea:focus {
	background: #fff;
	border:1px solid #413f3f;
	box-shadow: 0 0 3px #aaa;
	padding-right:80px;
}

.form{
  position: absolute;
  left: 30%;
  top: 42em;
  background-color: #fff;
  height: 500px;
  margin-top: 50px;
}

.contactImg{
  position: relative;
  bottom: 4.15em;
  width: 100%;
  height: 433px;
  background-color: rgb(0, 0, 0);
  background-image: url("../imgs/contacus.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -webkit-transition: background-image 0.3s linear;
}

.contactForm #enviar{
  font-family: "Lato";
  position: relative;
  margin-left:0px;
  left: 18.5%;
  text-align: center;;
  width: 150px;
  height: 30px;
  background:#0277BD;
  color:#fff;
  padding:7px 10px 8px 10px;
  text-shadow:0px -1px #278db8;
  border:1px solid #0277BD;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin:0 12px 0 0;
  cursor:pointer;
  border-radius: 0.2em;
  *padding:7px 2px 8px 2px; /* IE7 Fix */
}

.contactForm #reset{
    font-family: "Lato";
  position: relative;
  margin-left:0px;
  left: 18.5%;
  text-align: center;;
  width: 150px;
  height: 30px;
  background:#F44336;
  color:#fff;
  padding:7px 10px 8px 10px;
  text-shadow:0px -1px #F44336;
  border:1px solid #F44336;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin:0 12px 0 0;
  cursor:pointer;
  border-radius: 0.2em;
  *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* GALERIA */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 1109px;
    height: 620px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 17em;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1109px;
    height: 520px;
    display: block;
    position: absolute;
    box-shadow: 0.2em 0.2em 0.50em;

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 100px;
    height: 83.9%;
    display: none;
    position: absolute;

	  opacity: 0.5;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 126pt;
    text-align: center;
    line-height: 490px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(0, 0, 0, 0.68);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.3; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

.Content .textimg{
  position: absolute;
  left: 35%;
  top: 16.5em;
}

.Content .text {
  position: absolute;
  top: 5.5em;
  left: 11.6em;
  font-size: 54px;
  font-family: "Lato" sans-serif;
  font-weight: lighter;
  color: #fff;
}

.Content .marco2{
  position: absolute;
  width: 75%;
  height: 30%;
  left: 10.5em;
  top: 14.5em;
  background: #000;
  opacity: 0.8;
}

/* SERVICIOS */

.Servicios1{
  position: relative;
  margin-top: 50px;
  width: 400px;
  height: 300px;
  background-image: url("../imgs/Bordadoras.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 50px;
  top: 10em;
}

.Servicios1 #info1{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit- transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  overflow: hidden;

}

.Servicios1:hover #info1{
  opacity: 1;
}

#Bordado{
  position: relative;
  font-family: "Lato" sans-serif;
  color: #ffffff;
  margin-left: -70px;
  -webkit- transition: margin 0.2s
  -o-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  transition: margin 0.2s;

}

.Servicios1:hover #Bordado{
  margin-left: 10px;
}

#bDescripcion{

  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 350px;
  -webkit- transition: margin 0.3s
  -o-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  transition: margin 0.3s;
  color: #fff;
}

.Servicios1:hover #bDescripcion{
  margin-top:50px;
}

/*Impresos*/

.Servicios2{
  position: relative;
  bottom: 300px;
  width: 400px;
  height: 300px;
  background-image: url("../imgs/Impresiones.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 480px;
  bottom: 8.76em;
}

.Servicios2 #info2{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit- transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  overflow: hidden;

}

.Servicios2:hover #info2{
  opacity: 1;
}

#Impresos{
  position: relative;
  font-family: "Lato" sans-serif;
  color: #ffffff;
  margin-left: -70px;
  -webkit- transition: margin 0.2s
  -o-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  transition: margin 0.2s;

}

.Servicios2:hover #Impresos{
  margin-left: 10px;
}

#iDescripcion{

  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 350px;
  -webkit- transition: margin 0.3s
  -o-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  transition: margin 0.3s;
  color: #fff;
}

.Servicios2:hover #iDescripcion{
  margin-top:50px;
}

.sContenido{
  position: absolute;
  top: 50px;
}
/*cofecc*/
.Servicios3{
  position: relative;
  bottom: 600px;
  width: 400px;
  height: 300px;
  background-image: url("../imgs/Confecciones.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 910px;
  bottom: 27.45em;
}

.Servicios3 #info3{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.9);
  -webkit- transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  overflow: hidden;

}

.Servicios3:hover #info3{
  opacity: 1;
}

#Confecciones{
  position: relative;
  font-family: "Lato" sans-serif;
  color: #ffffff;
  margin-left: -70px;
  -webkit- transition: margin 0.2s
  -o-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  transition: margin 0.2s;

}

.Servicios3:hover #Confecciones{
  margin-left: 10px;
}

#cDescripcion{

  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 350px;
  -webkit- transition: margin 0.3s
  -o-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  transition: margin 0.3s;
  color: #fff;
}

.Servicios3:hover #cDescripcion{
  margin-top:50px;
}


#bEncabezado{

  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lato" sans-serif;

}
#iEncabezado{

  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lato" sans-serif;

}
#cEncabezado{

  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lato" sans-serif;

}

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:14px;
}

/* Login Button */
#loginButton {
    display:inline-block;
    float:right;
    right: 7.3em;
    top: 1em;
    background:#E0E0E0;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
}

/* Login Button Text */
#loginButton span {
    color:#445058;
    font-size:14px;
    padding:7px 20px 9px 16px;
    display:block
}

#loginButton:hover {
    background:#BDBDBD
}


/* Singup Button */
#signUpButton {
    display:inline-block;
    float:right;
    left: 4em;
    top: 1em;
    background:#E0E0E0;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
}

/* Signup Button Text */
#signUpButton span {
    color:#445058;
    font-size:14px;
    padding:7px 17px 9px 14px;
    display:block;
}

#loginContainer a:link{
      text-decoration: none;
}

#signUpButton:hover {
    background:#BDBDBD
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right: 7.3em;
    top: 3.3em;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* Login Form */
#loginForm {
    width:248px;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#E0E0E0;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    font-family: "Lato";
    font-size: 13px;
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    font-family: "Lato";
    font-size: 13px;
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;

}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:5px 0 4px 0;
}

#loginForm a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:14px;
}

input:focus {
    outline:none;
}

/* LAYOUT 2 - BUTTON SIGN OUT */

#perfilButton {
  font-family: "Lato";
    display:inline-block;
    float:right;
    right: 7.3em;
    top: 1em;
    background:#E0E0E0;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
}

/* Profile Button Text */
#perfilButton span {
    color:#445058;
    font-size:14px;
    padding:7px 20px 9px 16px;
    display:block
}

#perfilButton:hover {
    background:#BDBDBD
}

#loginContainer button {
font-family: "Lato";
position: absolute;
top: 14.5px;
right: 0.5em;
text-align: center;;
width: 90px;
height: 31.5px;
background:#E0E0E0;
color:#445058;
padding:7px 10px 8px 10px;
border:1px;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
transition: background 0.3s linear;
-o-transition: background 0.3s linear;
-moz-transition: background 0.3s linear;
-webkit-transition: background 0.3s linear;
}

#loginContainer button:hover{
  background:#BDBDBD;
}

/* LAYOUT BUTTON CARRITO */

#scButton {
    display:inline-block;
    float:right;
    right: 7.65em;
    top: 1.02em;
    height: 33px;
    background:#E0E0E0;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
}

/* Login Button Text */
#scButton span {
    color:#445058;
    font-size:14px;
    padding:7px 20px 9px 16px;
    display:block
}

#scButton:hover {
    background:#BDBDBD
}

#sc1Button {
    display:inline-block;
    float:right;
    right: 2.3em;
    top: 1.02em;
    height: 33px;
    background:#E0E0E0;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
}

/* Login Button Text */
#sc1Button span {
    color:#445058;
    font-size:14px;
    padding:7px 20px 9px 16px;
    display:block
}

#sc1Button:hover {
    background:#BDBDBD
}

/* REGISTRO */

.FormRegistro{
  position: absolute;
  left: 32%;
  top: 12em;
  height: 340px;
  max-width: 390px;
  margin-top: 50px;
  padding-left: 3em;
  padding-right: 4.5em;
  background-color: #EEEEEE;
  border-radius: 0.5em;
}

.FormRegistro label{
  font-family: "Lato";
  font-weight: normal;
  font-size: 13px;
  color: #212121;
}

.FormRegistro ul {
    width:750px;
    list-style-type:none;
	margin:0px;
  margin-top: 1.2em;
  margin-left: 1em;
	padding:0px;
}

.FormRegistro li{
	padding:12px;
	position:relative;
}

.FormRegistro input {
position: absolute;

  width:190px;
  padding:5px 8px;
  display: block;
  left: 11em;
  bottom: 0.3em;
}

.FormRegistro input{
border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
color: #000;
font-family: "Lato";
font-size: 13px;
padding-right:30px;
-moz-transition: padding .25s;
-webkit-transition: padding .25s;
-o-transition: padding .25s;
transition: padding .25s;
}

.FormRegistro button {
position: relative;
font-family: "Lato";
left: 17%;
top: 1.5em;
text-align: center;;
width: 120px;
height: 32px;
background:#0277BD;
color:#fff;
padding:7px 10px 8px 10px;
text-shadow:0px -1px #278db8;
border:1px solid #0277BD;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* PRODUCTOS */

.listadoProductos .produclist{
  position: relative;
  top: 2em;
  display:inline-block;
  margin:0.5em 0.5em 0.5em;
  float:left;
  width:13.7em;
  height:29em;
  text-align:center;
  font-size: 13px;
}

.listadoProductos .produclist p{
  position: relative;
    font-family: "Lato" sans-serif;
    font-weight: bold;
  bottom: 0.5em;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.listadoProductos .produclist input{
  font-family: "Lato";
  width: 100px;
  height: 20px;
  position: absolute;
  top: 5.8em;
  right: 3em;
  text-align: center;
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:1px;
  color: #000;
  font-size: 12px;
}

.listadoProductos .produclist button {
position: relative;
top: 3em;
left: 0.5em;
font-family: "Lato";
font-size: 13px;
text-align: center;;
width: 130px;
height: 30px;
background:#0277BD;
color:#fff;
padding:7px 10px 8px 10px;
text-shadow:0px -1px #278db8;
border:1px solid #0277BD;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

.listadoProductos .produclist a{
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.listadoProductos .produclist a:hover{
  background-color: #F44336;
}

/* Administrador Listado Productos */


.listadoProductos .produclistAdmin{
  position: relative;
    top: 2em;
  margin:0.5em 0.5em 0.5em;
  float:left;
  width:19.5em;
  height:30em;
  text-align:center;
  font-size: 13px;
}

.listadoProductos .produclistAdmin p{
  position: relative;
  font-family: "Lato" sans-serif;
  font-weight: bold;
  top: 0.3em;
  right: 5em;
  margin-top: 1em;
  transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}

.listadoProductos .produclistAdmin input{
  font-family: "Lato";
  width: 120px;
  position: absolute;
  left: 13.5em;
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:1px;
  color: #000;
  font-size: 13px;
}

.listadoProductos .produclistAdmin select{
  width: 122px;
  position: absolute;
  left: 13.5em;
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:1px;
  color: #000;
  font-family: "Lato";
  font-size: 13px;
}

.listadoProductos .produclistAdmin button {
position: relative;
font-family: "Lato";
left: 50%;
font-size: 13px;
text-align: center;;
width: 100px;
height: 30px;
background:#0277BD;
color:#fff;
padding:7px 10px 8px 10px;
text-shadow:0px -1px #278db8;
border:1px solid #0277BD;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}


/* Filtro de busquedad Productos */

.formBusqueda{
  position: absolute;
  top: 14em;
  left: 1em;
}

.formBusqueda ul {
    width:750px;
    list-style-type:none;
	margin:0px;
	padding:0px;
}

.formBusqueda li{
	padding:12px;
	position:relative;

}

.formBusqueda input {
  font-family: "Lato";
  height:20px;
  width:120px;
  padding:5px 8px;
}

.formBusqueda input{

border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
color: #000;
font-size: 12px;
padding-right:30px;
-moz-transition: padding .25s;
-webkit-transition: padding .25s;
-o-transition: padding .25s;
transition: padding .25s;
}

.formBusqueda button {
position: relative;
  font-family: "Lato";
left: 23%;
bottom: 4.2em;
text-align: center;;
width: 100px;
height: 32px;
background:#339cdf;
color:#fff;
padding:7px 10px 8px 10px;
text-shadow:0px -1px #278db8;
border:1px solid #339cdf;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

.formBusqueda #boton2 {
position: relative;
  font-family: "Lato";
left: 38%;
bottom: 7.5em;
text-align: center;;
width: 150px;
height: 32px;
background:#339cdf;
color:#fff;
padding:7px 10px 8px 10px;
text-shadow:0px -1px #278db8;
border:1px solid #339cdf;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* PERFIL FORMULARIO*/

.formActualizarUsuario{
  position: absolute;
  left: 32%;
  top: 12em;
  height: 350px;
  max-width: 390px;
  margin-top: 50px;
  padding-left: 3em;
  padding-right: 3.5em;
  background-color: #EEEEEE;
  border-radius: 0.5em;
}

.formActualizarUsuario label{
  font-family: "Lato";
  font-weight: normal;
  font-size: 13px;
  color: #212121;
}

.formActualizarUsuario ul {
    width:750px;
    list-style-type:none;
	margin:0px;
  margin-top: 1.2em;
  margin-left: 1em;
	padding:0px;
}

.formActualizarUsuario li{
	padding:12px;
	position:relative;
}

.formActualizarUsuario input {
position: absolute;

  width:160px;
  padding:5px 8px;
  display: block;
  left: 10em;
  bottom: 0.3em;
}

.formActualizarUsuario input{

border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
color: #000;
font-family: "Lato";
font-size: 14px;
padding-right:30px;
-moz-transition: padding .25s;
-webkit-transition: padding .25s;
-o-transition: padding .25s;
transition: padding .25s;
}

.formActualizarUsuario #btnINA{
  width: 140px;
  background: #F44336;
  border:1px solid #F44336;
}

.formActualizarUsuario button {
position: relative;
font-family:"Lato";
top: 0.8em;
left: 2em;
text-align: center;;
width: 120px;
height: 32px;
background:#339cdf;
color:#fff;
padding:7px 10px 8px 10px;
border:1px solid #339cdf;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* CARRETILLA */

.carritoGeneral{
position: relative;
bottom: 2em;
padding-left: 21.3em;
}

.carritoGeneral td{
  padding-left: 3em;
}

.carritoGeneral #imga{
    background-color: #90A4AE;
}

.carritoGeneral #cont{
  background-color: #ECEFF1;
  width: 52%;
}

.carritoGeneral #cont2{
  background-color: #ECEFF1;
  width: 79%;
}

.carritoGeneral #elim{
    background-color: #ECEFF1;
    width: 26.8%;
}

.carritoGeneral button {
position: relative;
font-family:"Lato";
text-align: center;;
width: 80px;
background: #F44336;
border:1px solid #F44336;
height: 32px;
color:#fff;
box-shadow:none;
cursor:pointer;
border-radius: 0.2em;
}

.factura{
  position: relative;
  right: 0.5em;
}

.factura #btnBorrarCarrito{
  font-family: "Lato";
  width: 200px;
  background: #F44336;
  border:1px solid #F44336;
}

.totales{
  position: relative;
  bottom: 3em;
  background-color: #ECEFF1;
  width: 55%;
  border-radius: 0.3em;
}

.factura button {
position: relative;
font-family:"Lato";
bottom: 4em;
left: 0.7em;
text-align: center;;
width: 200px;
height: 32px;
background:#0277BD;
color:#fff;
padding:7px 10px 8px 10px;
border:1px solid #0277BD;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
margin:0 12px 0 0;
cursor:pointer;
border-radius: 0.2em;
*padding:7px 2px 8px 2px; /* IE7 Fix */
}

.imagenCarritoVacio{
  position: relative;
  padding-left: 31em;
  bottom: 1em;
}

.imagenComprasVacias{
  position: relative;
  padding-left: 34.5em;
  bottom: 1em;
  opacity: 0.7;
}

.textoVacioCompras{
  position: relative;
  font-family: "Lato";
  padding-left: 24.2em;
  text-align: center;
  color: #757575;
  width: 40%;
  font-size: 17px;
}

.textoVacioCompras a{
  text-decoration: none;
  color: #757575;
}


.textoVacio{
  position: relative;
  bottom: 1em;
  font-family: "Lato";
  padding-left: 24.2em;
  text-align: center;
  color: #757575;
  width: 40%;
  font-size: 17px;
}

.textoVacio a{
  text-decoration: none;
  color: #757575;
}
/* COMPRAS LISTADO */

.Compras #arriba{
    background-color: #607D8B;
    color: white;
    font-size: 16px;
}


.Compras{
  background-color: #ECEFF1;
  margin-left: 15em;
  margin-right: 15em;
}

.Compras button {
position: relative;
font-family:"Lato";
text-align: center;;
width: 100px;
background: #0277BD;
border:1px solid #0277BD;
height: 32px;
color:#fff;
box-shadow:none;
cursor:pointer;
border-radius: 0.2em;
}

.butonRegreso button {
  position: relative;
  left: 43.4em;
  bottom: 1em;
  font-family:"Lato";
  text-align: center;;
  width: 200px;
  background: #0277BD;
  border:1px solid #0277BD;
  height: 32px;
  color:#fff;
  box-shadow:none;
  cursor:pointer;
  border-radius: 0.2em;
}
